<template>
    <span>
      <v-navigation-drawer app v-model="drawer"  disable-resize-watcher>
            <v-list color="brown" dark>
                <v-list-item >
                    <v-list-item-avatar>
                            <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
                    </v-list-item-avatar>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="title">
                            Sergey Neroda
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            neroda.sergey1998@gmail.com
                        </v-list-item-subtitle>
                    </v-list-item-content>
                    
                </v-list-item>
            </v-list>
            <v-list>
                    <v-list-item-group v-model="model" mandatory>
                        <v-list-item v-for="(item, i) in items" :key="i" :to="item.link" link>
                            <v-list-item-icon>
                                <v-icon v-text="item.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title v-text="item.title"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                    <v-divider></v-divider>     
            </v-list>
      </v-navigation-drawer> 
      <!--  -->
      <v-app-bar app color="brown darken-4" dark>
            <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer=!drawer"></v-app-bar-nav-icon>
            <v-spacer class="hidden-md-and-up"></v-spacer>
            <v-toolbar-title  class="pa-2">
                Restaurant 
            </v-toolbar-title>
            <!--  -->
            <v-item-group v-model="model" mandatory>
              <div class="flex">

                <v-btn link to="/home" text class="hidden-sm-and-down ma-1">
                    Головна
                </v-btn>

                <v-btn v-if="showAdminBoard" link to="/admin" text class="hidden-sm-and-down ma-1">
                    Панель Адміністратора
                </v-btn>

                <!-- <v-btn v-if="showModeratorBoard" link to="/mod" text class="hidden-sm-and-down ma-1">
                    Панель Модератора
                </v-btn> -->

                <v-btn v-if="showCookBoard" link to="/cook" text class="hidden-sm-and-down ma-1">
                    Панель Кухаря
                </v-btn>

                <v-btn v-if="showWaiterBoard" link to="/waiter" text class="hidden-sm-and-down ma-1">
                    Панель Офіціанта
                </v-btn>

                <v-btn v-if="currentUser" link to="/user" text class="hidden-sm-and-down ma-1">
                    User
                </v-btn>
              </div>
            </v-item-group>
            <v-spacer class="hidden-sm-and-down"></v-spacer>
            
                <v-btn link to="/cart" text class="hidden-sm-and-down ma-1">
                    Cart <span>{{cartCount}}</span>
                </v-btn>
                <!-- <v-badge
                  
                  v-model="cartCount"
                  overlap
                >
                  <v-icon large>mdi-cart</v-icon>
                </v-badge> -->

            <!-- <Cart class="hidden-sm-and-down ma-1"/> -->
      <!--  -->

            <v-item-group mandatory>
              <div v-if="!currentUser" class="navbar-nav ml-auto">
                
                  <v-btn  link to="/register" text class="hidden-sm-and-down ma-1">
                    Реєстрація
                  </v-btn>

                  <v-btn  link to="/login" text class="hidden-sm-and-down ma-1">
                    Вхід
                  </v-btn>

              </div>

              <div v-if="currentUser" class="navbar-nav ml-auto">

                <v-btn link to="/profile" text class="hidden-sm-and-down ma-1">
                    {{ currentUser.username }}
                </v-btn>
                
                <v-btn href @click.prevent="logOut" text>
                  Вихід
                </v-btn>

              </div>
            </v-item-group>
           
        </v-app-bar>
      </span>
</template>

<script>
//import {mapGetters} from "vuex";

// import Cart from './Cart';

export default {
    data: () => ({
        appTitle: 'Restaurant',
        drawer: false,
        items: [
        {title: 'Меню', icon: "mdi-home", link:"/"},
        {title: 'Каталог', icon: "mdi-view-grid", link:"/catalog"},
        {title: 'Резервація', icon: "mdi-star", link:"/reservation"},
        {title: 'Блог', icon: "mdi-book", link:"/blog"}
        ],
        model: 0,
    }),
  computed: {
    cartCount() {
      return this.$store.state.dishes.cartItemCount;
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }

      return false;
    },
    // showModeratorBoard() {
    //   if (this.currentUser && this.currentUser.roles) {
    //     return this.currentUser.roles.includes('ROLE_MODERATOR');
    //   }

    //   return false;
    // },
    showCookBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_COOK');
      }

      return false;
    },
    showWaiterBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_WAITER');
      }

      return false;
    },

  },
  components: {
    //Footer,
    // Cart
  },
    methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  }
}
</script>