<template>
    <v-container>
        Users admin {{users}}
    </v-container>
</template>

<script>
import axios from "axios";
export default {
    name: "UsersAdmin",
    data: () => ({
        users: [],
        errors: [],
    }),
    created() {
        axios.get('http://localhost:3000/api/test/all')
        .then(response => {
            this.users = response.data;
        })
        .catch(e =>{
            this.errors.push(e);
        })
    }
}
</script>