<template>
    <v-container fluid fill-height class="brown lighten-2">
        <v-row fluid class="d-flex flex-column flex-wrap flex-sm-row fill-height justify-center" flat outlined cols="12" tile>
            <v-col xs="11" sm="5" md="5" lg="5" >
                <v-card   class="mx-auto" height="100%" >
                    <p class="text-center  
                        text-sm-h4
                        text-md-h4
                        text-lg-h4
                        text-xl-h4
                        pa-4"
                        
                        >
                          Підсумок замовлення
                        </p>
                    <v-divider></v-divider>
                    <v-card-text class="text--primary">
                        <p>Підсумкова ціна: {{totalPrice}}</p> 
                        <p>{{cartItems}}</p>
                        
                        <v-divider></v-divider>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col xs="11" sm="5" md="5" lg="5">
                <v-card   class="mx-auto" height="100%">
                        <p class="text-center  
                        text-sm-h4
                        text-md-h4
                        text-lg-h4
                        text-xl-h4
                        pa-4"
                        
                        >
                          Деталі замовлення
                        </p>
                        
                    <v-divider></v-divider>
                    <CartEmpty v-if="totalPrice === 0"/>
                    <v-list dense>
                        <v-col v-for="items in cartItems" :key="items.id">
                            <v-divider></v-divider>
                               
                            <v-divider></v-divider>
                            <v-list-item>
                                <v-avatar height="10vh" width="10vh">
                                    <v-img :src="items.url" ></v-img>
                                </v-avatar>
                                <v-list-item-content>{{items.title}}</v-list-item-content>
                                
                                <v-list-item-content class="align-end">{{items.price}}</v-list-item-content>
                                <v-list-item-content class="align-end">{{items.price*items.quantity}}</v-list-item-content>
                                                                
                                <!-- <v-list-item-content > -->
                                    <!-- <v-btn-toggle> -->
                                    
                                    
                                    <v-btn v-on:click="removeItem(items)"  dark color="indigo">
                                        <v-icon dark large>mdi-minus</v-icon>
                                    </v-btn>
                                    <v-btn>
                                    {{items.quantity}}
                                    </v-btn>
                                    <v-btn v-on:click="addItem(items)" color="indigo" dark>
                                        <v-icon dark large>mdi-plus</v-icon>
                                    </v-btn>
                                    
                                    <!-- </v-btn-toggle> -->
                                <!-- </v-list-item-content> -->

                            </v-list-item>
                            <v-divider></v-divider>
                        </v-col>

                    </v-list>
                    <v-card-text class="text--primary">
                        <v-col>
                        <v-spacer></v-spacer>
                        <p>Підсумкова ціна: {{totalPrice}}</p> 
                        </v-col>
                        <v-divider></v-divider>
                    </v-card-text>
                    <v-col>
                            <v-row class="ma-3">
                              <v-spacer></v-spacer>
                            <v-btn
                              v-on:click="clearCart()"
                              color="success"
                            >
                                <span>Очистити</span>
                            </v-btn>
                            <v-btn
                              v-on:click="checkout"
                              color="success"
                            >
                                <span>Замовити</span>
                            </v-btn>
                            </v-row>
                    </v-col>
                    <v-col>
                        <div v-if="liqpayForm.length !== 0" v-html="liqpayForm"></div>
                    </v-col>
                </v-card>
            </v-col>
            
        </v-row>
        
    </v-container>
</template>


<script>
import CartEmpty from './EmptyCart';
import axios from "axios";
// import { mapActions } from 'vuex'

export default {
    name: 'Cart',
    data () {
        return {
            liqpayForm: []
        }
    },
    components: {
        CartEmpty
    },
    methods: {
        // ...mapActions([
        //     'clearCart',
        //     ]),
        clearCart () {
            this.$store.dispatch("clearCart",[] )
        },
        addItem (items) {
            this.$store.dispatch("addToCart",items )
        },
        removeItem (items) {
            this.$store.dispatch("removeItem",items )
        },
        checkout() {
            axios.post('http://localhost:3000/liqpay', {
                    total: this.totalPrice,
                })
                .then(response => {
                    this.liqpayForm = response.data;
                    console.log(response.data);
                })
                .catch(function(e){
                    this.error = e;
                });
        },
        


    },
    computed: {
        cartItems() {
            return this.$store.state.dishes.cartItems;
            //return this.$store.state.dishes.cartItemCount;
        },
        totalPrice() {
            let price=0;
            this.$store.state.dishes.cartItems.map(el =>{
                price += el["quantity"]*el["price"]
            });
            return price;
        }
    }
}
</script>