<template>
    <v-container>
        <v-img src="@/assets/cartEmpty.png" width="430px" height="441px"></v-img>
    </v-container>
</template>

<script>
export default {
    name: "EmptyCart",
}
</script>