<template>
    <v-container fluid class="brown lighten-3 pa-5  ">
        <v-row   fluid class="d-flex flex-column  flex-wrap flex-sm-row  justify-center" flat outlined cols="12" tile>
            <v-col 
                v-for="(items,id) in historyList"  :key="id"
                xs="10" sm="6" md="4" lg="3">
                <v-hover v-slot:default="{ hover }">
                    <v-card class="fill-height">
                        <v-img
                            :aspect-ratio="16/9"
                            v-bind:src="'http://localhost:3000/' + items.image"
                        >
                            <v-expand-transition>
                            <div
                                v-if="hover"
                                class="d-flex transition-fast-in-fast-out brown darken-2 v-card--reveal display-3 white--text"
                                style="height: 100%;"
                            >
                                {{items.price}} грн
                            </div>
                            </v-expand-transition>
                        </v-img>
                        <v-card-text
                            class="pt-6"
                            style="position: relative;"
                        >
                            <v-btn
                            absolute
                            color="success"
                            class="white--text"
                            fab
                            large
                            right
                            top
                            @click="dialog = true,dialogInfo=items"
                            >
                                <v-icon>mdi-eye</v-icon>
                            </v-btn>

                            <h6 class="display-1 font-weight-light brown--text mb-2">
                                {{items.title}}
                            </h6>

                        </v-card-text>
                        <!-- <v-card-text>
                            {{items.title}}
                            {{items.description}}
                            {{items.image}}
                            {{items.price}}
                            {{items.status}}
                            {{items._id}}
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer/>
                            <v-btn color="success"  @click="dialog = true,dialogInfo=items">
                                <span>Переглянути</span>
                            </v-btn>
                        </v-card-actions> -->
                    </v-card>
                </v-hover>
            </v-col>
        </v-row>
        <!--  -->
        <v-dialog  v-show="showModal" v-model="dialog" max-width="500"  >
            <v-card >
                
                <v-toolbar flat dark color="brown">
                    <v-toolbar-title>Перегляд страви</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <v-btn icon dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>

                        <v-img
                        v-bind:src="'http://localhost:3000/' + dialogInfo.image"
                        max-height="300"
                        class="grey darken-4"
                        ></v-img>
                    
                            <v-card-text>
                                <div class="title mb-1">
                                    {{dialogInfo.title}}
                                </div>
                                
                                <div class="subheading">
                                    {{dialogInfo.description}}
                                </div>
                                <!-- <p>Картинка: {{dialogInfo.image}}</p> -->
                                <!-- <p>Статус: {{dialogInfo.status}}</p> -->
                                <!-- <p>Айді: {{dialogInfo._id}}</p> -->
                            </v-card-text>

                            <v-divider/>

                            <v-card-actions>
                                <v-chip
                                    class="ma-2"
                                    color="primary"
                                >
                                    Ціна: {{dialogInfo.price}} грн
                                </v-chip>
                                <v-spacer></v-spacer>
                                
                                
                                <div class="text-center">

                                    <v-chip
                                        v-on:click="removeItem"
                                        class="ma-2"
                                        label
                                        color="cyan"
                                        text-color="white"
                                    >
                                        <v-icon small>mdi-minus</v-icon>
                                    </v-chip>

                                    <v-chip
                                        class="ma-2"
                                        label
                                        color="cyan"
                                        text-color="white"
                                    >
                                        {{cartItemQuantity}}
                                    </v-chip>

                                    <v-chip
                                        v-on:click="addToCart"
                                        class="ma-2"
                                        label
                                        color="cyan"
                                        text-color="white"
                                    >
                                        <v-icon small>mdi-plus</v-icon>
                                    </v-chip>

                                </div>
                                
                                <v-chip v-on:click="goToCart"
                                    class="ma-2"
                                    color="primary"
                                >
                                    Корзина({{cartItemsCout}})
                                </v-chip>
                                
                            </v-card-actions>
                         
            </v-card>

        </v-dialog> 
       
            <!-- {{dialogInfo}} -->
            <!-- {{allDishes}} -->
        <v-pagination class="pagination mb-2" v-model="page" :length="pages" @input="updatePage"
            color="success"
            dark
            prev-icon="mdi-menu-left"
            next-icon="mdi-menu-right"
        >
        </v-pagination>
    </v-container>
</template>

<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>

<script>
import {mapGetters} from "vuex";
export default {
    name: "Home",
    data () {
        return {
            dialog: false,
            dialogInfo: [],
            //pagination
            page: 1,
            pageSize: 12,
            listCount: 0,
            historyList: [],
        }
    },
    methods: {
        serverDishes() {
            this.$store.dispatch("serverDishes");
        },
        goToCart () {
            this.$router.push("/cart");
        },
        addToCart () {
            // this.$store.commit("addToCart")
            this.$store.dispatch("addToCart",this.dialogInfo )
        },
        removeItem () {
            this.$store.dispatch("removeItem",this.dialogInfo )
        },
        //pagination
        initPage: function() {
			let _this = this;
			_this.listCount = _this.allDishes.length;
			if (_this.listCount < _this.pageSize) {
				_this.historyList = _this.allDishes;
			} else {
				_this.historyList = _this.allDishes.slice(0, _this.pageSize);
			}
		},
		updatePage: function(pageIndex) {
			let _this = this;
			let _start = (pageIndex - 1) * _this.pageSize;
			let _end = pageIndex * _this.pageSize;
			_this.historyList = _this.allDishes.slice(_start, _end);
            _this.page = pageIndex;
            this.$vuetify.goTo(0);
        },
        
    },
    computed: {
        // смешиваем результат mapGetters с внешним объектом computed
        ...mapGetters([
        'allDishes',
        ]),
        //pagination
        pages() {
			let _this = this;
			if (_this.pageSize == null || _this.listCount == null) return 0;
			return Math.ceil(_this.listCount / _this.pageSize);
        },
        //властивість для визначення кількості страв в корзині(окремої страви)
        cartItemQuantity() {
            let dataFromCart = this.$store.state.dishes.cartItems;
            let findElement = dataFromCart.find(dataFromCart => dataFromCart._id === this.dialogInfo._id);
            if (findElement===undefined) {
                return 0;
            } else {
                return findElement.quantity;
            }
        },
        cartItemsCout () {
            return this.$store.state.dishes.cartItemCount;
        }
    },
    created() {
		let _this = this;
		_this.initPage();
		_this.updatePage(_this.page);
	},
    mounted() {
        this.serverDishes();
    },
}
</script>