<template>
    <v-container>
        <!-- 4000000000003055 -->
        Order Done {{content}}
        Data {{dataDone.result}}
        <p>{{totalPrice}}</p>
        <p>{{cartItems}}</p>
    </v-container>
</template>

<script>
import axios from 'axios';
export default {
    name: "OrderDone",
    data() {
    return {
      content: this.$route.query.id,
      dataDone: []
    };
  },
  computed: {
      //test
    totalPrice() {
            let price=0;
            this.$store.state.dishes.cartItems.map(el =>{
                price += el["quantity"]*el["price"]
            });
            return price;
        },
      //test
    cartItems() {
            return this.$store.state.dishes.cartItems;
        },
  },
  mounted() {
      
  },
  created() {
      
      console.log("ok1")
      if (this.content !== undefined) {
          axios.post('http://localhost:3000/liqpay/orderdone', {
                    total: this.content,
                })
                .then(response => {
                    this.dataDone = response.data;
                    //test REQUIRE REFACTORING!!!
                    if (this.dataDone.result === "ok") {
                        console.log(this.dataDone.result+"ggggg")
                        axios.post('http://localhost:3000/order', {
                            total: this.totalPrice,
                            items: this.cartItems,
                            discount: 0,
                            tableId: 1,
                        })
                    }
                })
                .catch(function(e){
                    this.error = e;
                });
      }
      
  }
}
</script>