<template>
    <v-container>
        <v-card class="pa-4 ma-4">
        <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="onSubmit" enctype="multipart/form-data">


            
                <ValidationProvider name="title" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <v-text-field dense prepend-icon="mdi-note" outlined label="Назва страви" :rules="errors" v-model="title" type="text" hide-details="auto">
                        </v-text-field>
                    </v-col>
                </ValidationProvider>

                <ValidationProvider name="description" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor>
                        <v-alert type="error" v-if="errors[0]">
                                {{ errors[0] }}
                        </v-alert>
                    </v-col>
                </ValidationProvider>

                <ValidationProvider name="price" rules="required" prefix="$" v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <v-text-field prepend-icon="mdi-camera" outlined label="Ціна" :rules="errors" v-model="price" type="text" hide-details="auto">
                        </v-text-field>
                    </v-col>
                </ValidationProvider>


                <ValidationProvider  type="file" rules="required|image" v-slot="{ errors }">
                    <input type="file" @change="oneFileSelected" />
                    <p>{{ errors[0] }}</p>
                </ValidationProvider>

                <!-- <ValidationProvider name="image" rules="required|image" v-slot="{ validate, errors }"> -->
                    <!-- <input type="file" @change="validate" /> -->
                    <!-- <v-col class="pa-2 "> -->
                    <!-- <v-file-input prepend-icon="mdi-camera" chips multiple outlined :rules="errors" @change="validate" label="Оберіть картинку"></v-file-input> -->
                    <!-- </v-col> -->
                    <!-- <p>{{ errors[0] }}</p> -->
                <!-- </ValidationProvider> -->

                <ValidationProvider name="status" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <!-- <v-text-field label="Статус відображення" :rules="errors" v-model="status" type="text" hide-details="auto">
                        </v-text-field> -->
                        <v-select prepend-icon="mdi-camera" outlined v-model="status" :items="itemsStatus" :rules="errors" label="Статус відображення">
                        </v-select>
                    </v-col>
                </ValidationProvider>

                <!-- <ValidationProvider name="category" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 "> -->
                        <!-- <v-text-field label="Категорія" :rules="errors" v-model="category" type="text" hide-details="auto">
                        </v-text-field> -->
                        <!-- <v-select prepend-icon="mdi-camera" outlined v-model="category" :items="itemsCategory" :rules="errors" label="Категорія">
                        </v-select>
                    </v-col>
                </ValidationProvider> -->

                
                <v-row class="pa-5">
                    <v-spacer></v-spacer>
                    <v-btn type="submit" color="success" :disabled="invalid">
                        <span>Додати страву</span>
                    </v-btn>
                </v-row>
            </form>
        </ValidationObserver>
        {{responseStatus}}
        {{errors}}
        </v-card>
    </v-container>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import axios from 'axios';
import { extend } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';
import { image } from 'vee-validate/dist/rules';

extend('required', {
  ...required,
  message: 'Поле має бути заповнене'
});
extend('image', {
  ...image,
  message: 'Вибраний файл не є картинкою'
});
export default {
    name: "DishCRUD",
    data: () => ({
        title: '',
        description: '',
        price:'',
        status:'',
        category:'',
        itemsCategory: [
            'Десерти',
            'Напої',
            'Салати',
        ],
        itemsStatus: [
            'Active',
            'NoPublished',
        ],
        selectedFile: null,
        errors:[],
        responseStatus:[],
        //editor configure
        editor: ClassicEditor,
        filebrowserUploadUrl: 'http://localhost:3000/admin/dish/uploader',
        editorConfig: {

        },
    }),
    methods: {
        oneFileSelected(event){
            this.selectedFile = event.target.files[0];
        },
        onSubmit () {
            const fd = new FormData();
            fd.append('file',this.selectedFile);
            fd.append('title',this.title);
            fd.append('description',this.description);
            fd.append('price',this.price);
            fd.append('status',this.status);
            fd.append('category',this.category);
            console.log(this.selectedFile);
            axios.post('http://localhost:3000/dishes', fd)
            .then(response => {
                 this.responseStatus = response.data;
            })
            .catch(e =>{
                this.errors.push(e);
            })
        }
    }
}
</script>