<template>
    <v-container>
            <v-dialog  v-show="showModal" v-model="dialog">
                    <v-card class="tile">
                        <v-card-title dark class="headline brown white--text text-center" >
                            <h4>Додати нову страву</h4>
                        </v-card-title>
                        <v-card-text>
                            <DishCreate/>
                            <v-row>
                                <v-spacer></v-spacer>  
                                <v-btn class="ma-3" text @click="dialog = false">Закрити</v-btn>
                            </v-row> 
                        </v-card-text>
                    </v-card>
            </v-dialog> 
        
        <v-card>
            <v-card-title>
                Перелік страв
                <v-btn color="success" class="ma-1"  @click="dialog = true">
                    <v-icon dark >mdi-plus</v-icon>
                </v-btn>
                <v-divider
                    class="mx-4"
                    inset
                    vertical
                >
                </v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                outlined
                dense
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Пошук"
                    
                    hide-details
                ></v-text-field>
                
            </v-card-title>
            <v-divider class="ma-1"></v-divider>
            <v-divider></v-divider>
            <v-data-table
                :headers="headers"
                :search="search"
                :items="dishes"
                :items-per-page="10"
            
            >
                <template v-slot:item.actions="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        mdi-pencil
                    </v-icon>
                    <v-icon
                        small
                        @click="deleteItem(item)"
                    >
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
        <!--  -->
    </v-container>
</template>

<script>
import DishCreate from './Create';
import axios from 'axios';

export default {
    name:"DishAdmin",
    data () {
        return {
            dialog: false,
            dishes: [],
            errors: [],
            search: '',
            headers: [
                {
                    text: 'Назва страви: ',
                    align: 'start',
                    sortable: false,
                    value: 'title',
                },
                { text: 'Опис', value: 'description' },
                { text: 'Ціна', value: 'price' },
                { text: 'Actions', value: 'actions', sortable: false,align: 'end', },
            ],
        }
    },
    components: {
        DishCreate
    },
    created() {
        axios.get('http://localhost:3000/dishes')
        .then(response => {
            this.dishes = response.data.dishes;
        })
        .catch(e =>{
            this.errors.push(e);
        })
    },
    methods: {
        editItem(item) {
            console.log(item);
        },
        deleteItem(item) {
            console.log(item);
        }
    }
}
</script>

<style scoped>
table.v-table thead tr th {
  font-size: 24px;
}
table.v-table tbody tr td {
  font-size: 24px;
}
</style>