<template>
 <div class="container">
  <v-row>
          <v-col
            
            cols="12"
            sm="12"
            md="12"
            lg="12"
          >
            <v-card>
              <v-card-title class="subheading font-weight-bold">Профіль користувача: {{ currentUser.username }}</v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item>
                  <v-list-item-content>Токен:</v-list-item-content>
                  <v-list-item-content class="align-end">{{currentUser.accessToken.substring(0, 20)}} ... {{currentUser.accessToken.substr(currentUser.accessToken.length - 20)}}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Ідентифікатор:</v-list-item-content>
                  <v-list-item-content class="align-end">{{currentUser.id}}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Імейл:</v-list-item-content>
                  <v-list-item-content class="align-end">{{currentUser.email}}</v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>Атрибути:</v-list-item-content>
                  <v-list-item-content >
                    <v-row class="ma-1 ">
                      <!-- <span>g</span> -->
                      <v-chip v-for="(role,index) in currentUser.roles" :key="index"
                      class="ma-2 "
                      color="green"
                      text-color="white"
                    >
                      {{role}}
                    </v-chip>
                    </v-row>
                     
                  </v-list-item-content>
                </v-list-item>
                

              </v-list>
              <!-- <p>{{currentUser}}</p> -->
            </v-card>
          </v-col>
        </v-row>
<!--  -->
    
  </div>
</template>

<script>
export default {
  name: 'Profile',
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
};
</script>