<template>
    <v-row justify="center"  no-gutters class="text-center brown lighten-2">
            <v-item-group v-model="model" mandatory>
                <v-btn dark link to="/cook" text class="my-2">
                        Панель Кухаря
                </v-btn>
                <v-btn dark link to="/cook/order" text class="my-2">
                        Замовлення
                </v-btn>
            </v-item-group>
    </v-row>
</template>

<script>
export default {
    name: "HelperCook",
}
</script>