<template>
<span>
    <v-row justify="center"  no-gutters class="text-center brown lighten-2">
            <v-item-group v-model="model" mandatory>
                <!-- <v-btn dark link to="/admintest" text class="my-2">
                        Панель Адміна
                </v-btn> -->
                <v-btn dark link to="/admin/category" text class="my-2">
                        Категорії
                </v-btn>
                <v-btn dark link to="/admin/dish" text class="my-2">
                        Страви
                </v-btn>
                <v-btn dark link to="/admin/order" text class="my-2">
                       Замовлення 
                </v-btn>
                <v-btn dark link to="/admin/user" text class="my-2">
                        Користувачі
                </v-btn>
                <v-btn dark link to="/admin/forecast" text class="my-2">
                        Прогнози продажів
                </v-btn>
            </v-item-group>
    </v-row>
</span>
</template>

<script>
export default {
    name: "Helper",
}
</script>