<template>
    <v-col>
        <!-- {{errorMessageHolt}} -->
        <LineChart v-if="loadedHolt"  :chartData="systemUptimeData" :chart-name="chartName"  :chart-labels="systemUptimeLabels"/>
    </v-col>
</template>

<script>
import axios from "axios";
import authHeader from '@/services/auth-header';
import LineChart from './forecast/LineChartHome'

export default {
    name: "AdminHome",
    data: () => {
        return {
        systemUptimeLabels: [],
        systemUptimeData: [],
        chartName:'Невідомий чарт',
        loadedHolt: false,
        errorMessageHolt: 'no error',
        }
    },
    components: {
        LineChart
    },
    methods: {
        loadOrdersTotalAggregate () {
        axios
        .get('http://localhost:3000/order/aggregate', { headers: authHeader() })
        .then(response => {
            this.systemUptimeData = response.data.ordersByDay,
            this.systemUptimeLabels = response.data.dayByOrders,
            this.loadedHolt = true,
            this.chartName = 'Графік продажів';
        })
        .catch(error => this.errorMessageHolt = error);
        },
    },
    created () {
        this.loadOrdersTotalAggregate();
    },
}
</script>