<template>
    <v-container>
        <v-row  v-if="orders">
            <v-card v-for="(order,index) in orders" :key="index" class="ma-2">
                <v-card-text>
                    {{order}}
                    <p>Айді: {{order._id}}</p>
                    <p>Знижка: {{order.discount}}</p>
                    <p>Айді столика: {{order.tableId}}</p>
                    <p>Статус: {{order.status}}</p>
                    <p>Час створення: {{order.createdAt}}</p>
                    <p>Час закінчення: {{order.finishedAt}}</p>
                    <p>Сумма замовлення: {{order.total}}</p>
                </v-card-text>
                <v-card-text v-for="(item,index) in order.items" :key="index" >
                    <p>{{item}}</p>
                </v-card-text>
            </v-card>
        </v-row>
        <v-row v-if="errors">
            <v-card v-for="(error,index) in errors" :key="index" >
                <v-card-text>{{error}}</v-card-text>
            </v-card>
        </v-row>
    </v-container>
</template>

<script>
import axios from 'axios';
export default {
    name: "OrderAdmin",
    data: () => ({
        orders: [],
        errors: [],
    }),
    created() {
        axios.get('http://localhost:3000/order')
        .then(response => {
            this.orders = response.data.orders;
        })
        .catch(e =>{
            this.errors.push(e);
        })
    }
}
</script>