<template>
        <v-container fill-height fluid class="grey lighten-2">
            <v-row>
            <v-col cols="12">
                <v-row
                    align="center"
                    justify="center"
                    
                    style="height: 100%;"
                    >
                    <v-card
                        class="ma-3 pa-6"
                        outlined
                        tile
                        
                    >
                        <div class="d-flex justify-space-between 
                        text-sm-h4
                        text-md-h4
                        text-lg-h2
                        text-xl-h1
                        ">
                            404 Not Found
                        </div>
                    </v-card>
                </v-row>
            </v-col>
      
            </v-row>
        </v-container>
    
</template>