<template>
    <v-container>
        <v-row class="pa-5">
            <v-spacer></v-spacer>
            <v-btn color="success"  @click="dialog = true">
                <span>Додати нову категорію</span>
            </v-btn>
    
            <v-dialog  v-show="showModal" v-model="dialog">
                    <v-card class="tile">
                        <v-card-title dark class="headline brown white--text text-center" >
                            <h4>Додати нову категорію</h4>
                        </v-card-title>
                        <v-card-text>
                            <Create/>
                            <v-row>
                                <v-spacer></v-spacer>  
                                <v-btn class="ma-3" text @click="dialog = false">Закрити</v-btn>
                            </v-row> 
                        </v-card-text>
                    </v-card>
            </v-dialog> 
        </v-row>  
        
    </v-container>
</template>

<script>
import Create from './Create';

export default {
    name: "CategoryAdmin",
    data () {
        return {
            dialog: false,
        }
    },
    components: {
        Create
    },
    methods: {
        
    }
}
</script>