<template>
    <v-container>
        <v-card class="pa-4 ma-4">
        <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="onSubmit">

                <ValidationProvider name="title" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <v-text-field outlined label="Назва страви" :rules="errors" v-model="title" type="text" hide-details="auto">
                        </v-text-field>
                    </v-col>
                </ValidationProvider>

                <ValidationProvider name="description" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <v-text-field outlined label="Опис категорії" :rules="errors" v-model="description" type="text" hide-details="auto">
                        </v-text-field>
                    </v-col>
                </ValidationProvider>

                <ValidationProvider name="image" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <v-text-field outlined label="url картинки" :rules="errors" v-model="image" type="text" hide-details="auto">
                        </v-text-field>
                    </v-col>
                </ValidationProvider>

                <ValidationProvider name="status" rules="required"  v-slot="{ errors }">
                    <v-col class="pa-2 ">
                        <!-- <v-text-field label="Статус відображення" :rules="errors" v-model="status" type="text" hide-details="auto">
                        </v-text-field> -->
                        <v-select outlined :items="itemsStatus" :rules="errors" label="Статус відображення">
                        </v-select>
                    </v-col>
                </ValidationProvider>

                <v-row class="pa-5">
                    <v-spacer></v-spacer>
                    <v-btn type="submit" color="success" :disabled="invalid">
                        <span>Додати категорію</span>
                    </v-btn>
                </v-row>
            </form>
        </ValidationObserver>
        </v-card>
    </v-container>
</template>

<script>

export default {
    name: "CreateCategory",
    data: () => ({
        title: '',
        description: '',
        image: '',
        itemsStatus: [
            'Активна',
            'Неактивна',
        ],
    }),
    methods: {
        onSubmit () {
            alert('Form has been submitted!');
        },
    }
}
</script>