 <template>
 <v-container>
  <div class="main"> 
    <line-chart v-if="loadedHolt" :chart-data="systemUptimeData" :chart-name="chartName" :chartDataForecast="Data" :chart-labels="systemUptimeLabels"/>
    <h1 v-else>{{errorMessageHolt}}</h1>
    {{OrdersTotalAggregate}}
  </div>
</v-container>
</template>

<script>

import LineChart from './LineChart.vue'
import axios from "axios";
import authHeader from '@/services/auth-header';


export default {
  name: 'Test',
  components: {
    LineChart
  },
  data: () => {
    return {
      systemUptimeLabels: [],
      systemUptimeData: [],
      Data: [],
      chartName:'Невідомий чарт',

      loaded: false,
      loadedHolt: false,
      errorMessageHolt: 'no error',
      OrdersTotalAggregate:[]
    }
  },
  methods: {
    loadOrdersTotalAggregate () {
      axios
      .get('http://localhost:3000/order/aggregate', { headers: authHeader() })
      .then(response => {
        this.OrdersTotalAggregate = response.data.ordersByDay
      })
      .catch(error => this.errorMessageHolt = error);
    },
    loadHoltForecast () {
        axios
      .get('http://localhost:3000/forecast/holt?OrdersTotalAggregate='+this.OrdersTotalAggregate, { headers: authHeader() })
      .then(response => {
        this.dataLabels = response.data.arr3,
        this.info2 = response.data.arr4,
        this.systemUptimeLabels = response.data.arr5,//
        this.Data = response.data.data,
        //this.Data = response.data.OrdersTotalAggregate
        this.systemUptimeData = response.data.forecast2//
        //this.loaded = true;
        this.loadedHolt = true;
        this.chartName = 'Прогнозування методом Хольта';
      })
      .catch(error => this.errorMessageHolt = error);
    },
    
  },
  created () {
    this.loadOrdersTotalAggregate();
  },
  mounted () {
    this.loadHoltForecast();
  }
}
</script>

<style scoped>
.main {
  max-width: 90%;
  /* max-height: 1000px; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
</style>
