 <template>
 <v-container>
  <div class="main"> 
    <v-row cols="12">
      <v-col col="4">
        <line-chart v-if="loadedHolt" :chart-data="systemUptimeData" :chart-name="chartName" :chartDataForecast="Data" :chart-labels="systemUptimeLabels"/>
    <h1 v-else>Щось пішло не так 😢</h1>
      </v-col>
      <v-col col="4">
        <line-chart v-if="loadedHoltWinters" :chart-data="systemUptimeData1" :chart-name="chartName1" :chartDataForecast="Data1" :chart-labels="systemUptimeLabels1"/>
    <h1 v-else>Щось пішло не так 😢</h1>
      </v-col>
      <v-col col="4">
        <line-chart v-if="loaded" :chart-data="systemUptimeData2" :chart-name="chartName2" :chartDataForecast="Data2" :chart-labels="systemUptimeLabels2"/>
    <h1 v-else>Щось пішло не так 😢</h1>
      </v-col>
      <v-col col="4">
        <line-chart v-if="loadedDoubleExponential" :chart-data="systemUptimeData3" :chart-name="chartName3" :chartDataForecast="Data3" :chart-labels="systemUptimeLabels3"/>
    <h1 v-else>Щось пішло не так 😢</h1>
      </v-col>
    <v-col col="4">
        <line-chart v-if="loaded" :chart-data="systemUptimeData4" :chart-name="chartName4" :chartDataForecast="Data4" :chart-labels="systemUptimeLabels4"/>
    <h1 v-else>Щось пішло не так 😢</h1>
      </v-col>
    </v-row>
    
  </div>
</v-container>
</template>

<script>

import LineChart from './LineChart.vue'
import axios from "axios";
import authHeader from '@/services/auth-header';


export default {
  name: 'Test',
  components: {
    LineChart
  },
  data: () => {
    return {
      systemUptimeLabels: [],
      systemUptimeData: [],
      Data: [],
      chartName:'Невідомий чарт',

      systemUptimeLabels1: [],
      systemUptimeData1: [],
      Data1: [],
      chartName1:'Невідомий чарт',

      systemUptimeLabels2: [],
      systemUptimeData2: [],
      Data2: [],
      chartName2:'Невідомий чарт',

      systemUptimeLabels3: [],
      systemUptimeData3: [],
      Data3: [],
      chartName3:'Невідомий чарт',

      systemUptimeLabels4: [],
      systemUptimeData4: [],
      Data4: [],
      chartName4:'Невідомий чарт',

      loaded: false,
      loadedHolt: false,
      loadedHoltWinters:false,
      loadedDoubleExponential: false,
    }
  },
  methods: {
    loadHoltForecast () {
        axios
      .get('http://localhost:3000/forecast/holt', { headers: authHeader() })
      .then(response => {
        this.dataLabels = response.data.arr3,
        this.info2 = response.data.arr4,
        this.systemUptimeLabels = response.data.arr5,
        this.Data = response.data.data,
        this.systemUptimeData = response.data.forecast2
        //this.loaded = true;
        this.loadedHolt = true;
        this.chartName = 'Прогнозування методом Хольта';
      })
      .catch(error => console.log(error));
    },
    loadHoltWintersForecast () {
        axios
      .get('http://localhost:3000/forecast/holt-winters', { headers: authHeader() })
      .then(response => {
        this.systemUptimeLabels1 = response.data.arr5,
        this.Data1 = response.data.data,
        this.systemUptimeData1 = response.data.forecast2
        //this.loaded = true;
        this.loadedHoltWinters = true;
        this.chartName1 = 'Прогнозування методом Хольта-Вінтерса';
      })
      .catch(error => console.log(error));
    },
    SimpleExponentialSmoothing () {
        axios
      .get('http://localhost:3000/forecast/ses', { headers: authHeader() })
      .then(response => {
        this.systemUptimeLabels2 = response.data.arr5,
        this.Data2 = response.data.data,
        this.systemUptimeData2 = response.data.forecast2
        //this.loaded = true;
        this.chartName2 = 'Прогнозування методом ExponentialSmoothing';
      })
      .catch(error => console.log(error));
    },  
    DoubleExponentialSmoothing () {
        axios
      .get('http://localhost:3000/forecast/des', { headers: authHeader() })
      .then(response => {
        this.systemUptimeLabels3 = response.data.arr5,
        this.Data3 = response.data.data,
        this.systemUptimeData3 = response.data.forecast2
        this.loadedDoubleExponential = true;
        this.chartName3 = 'Прогнозування методом DoubleExponentialSmoothing';
      })
      .catch(error => console.log(error));
    },
    loadArimaForecast () {
        axios
      .get('http://localhost:3000/forecast/arima', { headers: authHeader() })
      .then(response => {
        this.systemUptimeLabels4 = response.data.arr5,
        this.Data4 = response.data.data,
        this.systemUptimeData4 = response.data.pred
        this.loaded = true;
        this.chartName4 = 'Прогнозування методом ARIMA';
      })
      .catch(error => console.log(error));
    }, 
  },
  mounted () {
    this.loadHoltForecast();
    this.loadHoltWintersForecast();
    this.SimpleExponentialSmoothing();
    this.DoubleExponentialSmoothing();
    this.loadArimaForecast();
  }
}
</script>

<style scoped>
.main {
  max-width: 90%;
  /* max-height: 1000px; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
</style>
