<template>
<span>
    <v-btn color="success"  @click="dialogCloseOrder = true">
        <span>Закрити замовлення</span>
    </v-btn>
    <v-dialog  v-model="dialogCloseOrder">
                                <v-card class="tile">
                                    <v-card-title dark class="headline brown white--text text-center" >
                                        <h4>Закрити замовлення</h4>
                                    </v-card-title>
                                    <v-card-text>
                                        Закрити замовлення
                                        <v-row>
                                            <v-spacer></v-spacer>  
                                            <v-btn class="ma-3" text @click="dialogCloseOrder = false">Закрити</v-btn>
                                        </v-row> 
                                    </v-card-text>
                                </v-card>
    </v-dialog> 
</span>
</template>

<script>
export default {
    name: 'WaiterOpenOrder',
    data() {
        return {
            dialogCloseOrder: false,
        }
    },

}
</script>