<template>
    <!-- <v-container fluid fill-height class="brown lighten-2"> -->
        <v-row fluid class="brown lighten-2 d-flex flex-column flex-wrap flex-sm-row fill-height justify-center" cols="12" >
            <v-col xs="11" sm="6" md="6" lg="6" >
                <v-card   class="mx-auto overflow-y-auto" v-scroll.self="onScroll" max-height="75vh">
                    <v-card v-for="(dish,index) in dishes" :key="index" class="ma-2">
                        <v-card-text>
                            {{dish._id}}
                            {{dish.title}}
                            {{dish.description}}
                            {{dish.price}}
                            <v-btn v-on:click="removeItemWaiter(dish)" color="purple"  text>
                                <v-icon>mdi-minus</v-icon>
                            </v-btn>
                            <v-btn v-on:click="addToCart(dish)" color="purple"  text>
                                <v-icon>mdi-plus</v-icon>
                            </v-btn>
                        </v-card-text>
                    </v-card>
                </v-card>
            </v-col>
            <v-col xs="11" sm="6" md="6" lg="6" >
                <v-card   class="mx-auto" height="100%" >

                    <v-row class="pa-5">
                        
                        <Table/>
                        <OpenOrder/>
                        <UpdateOrder/>
                        
                        
                    </v-row >
                    
                        <v-card v-for="(dish,index) in cartItems" :key="index" class="ma-2">
                            <v-card-text>
                                {{dish.title}}
                                {{dish.price}} грн
                                
                                <v-btn v-on:click="removeItemWaiter(dish)" color="purple"  text>
                                    <v-icon>mdi-minus</v-icon>
                                </v-btn>
                                {{dish.quantity}}
                                <v-btn v-on:click="addToCart(dish)" color="purple"  text>
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                                {{dish.price*dish.quantity}} грн
                            </v-card-text>
                        </v-card>
                        <v-card class="ma-2">
                            <v-card-text>
                                Сумма замовлення: {{totalPrice}} грн
                            </v-card-text>
                        </v-card>
                        
                         <v-btn
                              v-on:click="clearCart()"
                              color="success"
                            >
                                <span>Очистити</span>
                            </v-btn>
                            <CloseOrder/>
                    

                </v-card>
            </v-col>
        </v-row>
    <!-- </v-container> -->
</template>

<script>
import axios from 'axios';
import Table from './interface/Table';
import OpenOrder from './interface/OpenOrder';
import UpdateOrder from './interface/UpdateOrder';
import CloseOrder from './interface/CloseOrder';

export default {
    name: "WaiterHome",
    data () {
        return {
            dishes: [],
            errors: [],
        }
    },
    components: {
        Table,
        OpenOrder,
        UpdateOrder,
        CloseOrder
    },
    methods: {
        clearCart () {
            this.$store.dispatch("clearCartWaiter",[] )
        },
        
        addToCart (dish) {
            //console.log(dish);
            this.$store.dispatch("addToCartWaiter",dish )
        },
        removeItemWaiter (dish) {
            this.$store.dispatch("removeItemWaiter",dish )
        },
        openOrder () {
            axios.post('http://localhost:3000/order', {
                            total: this.totalPrice,
                            items: this.cartItems,
                            discount: 0,
                            tableId: 1,
                        })
        }
    },
    computed: {
        cartItems() {
            return this.$store.state.waiter.cartItemsWaiter;
        },
        totalPrice() {
            let price=0;
            this.$store.state.waiter.cartItemsWaiter.map(el =>{
                price += el["quantity"]*el["price"]
            });
            return price;
        }
    },
    created() {
        axios.get('http://localhost:3000/dishes')
        .then(response => {
            this.dishes = response.data.dishes;
        })
        .catch(e =>{
            this.errors.push(e);
        })
    }
}
</script>