<template>
  <div id="app">
    
    <v-app>
      <Header/>
      <v-main>    
          <router-view name="helperAdmin"/>   
          <router-view />
      </v-main>
      <Footer/>
    </v-app>

  </div>
</template>

<script>
  import Header from './views/UI/Header';
  import Footer from './views/UI/Footer';
 
export default {
  name: 'App',
  
  components: {
    Footer,
    Header
  },

  
};
</script>

<style>
  .flex {
    display: flex;
  }
</style>
