<template>
  <v-container fill-height fluid class="grey lighten-2">
    
                <v-row
                    align="center"
                    justify="center"
                    style="height: 100%;"
                    cols="12"
                    width="500px"
                    >
                    <v-card
                        class="ma-6 pa-6"
                        outlined
                        tile  
                        cols="12"
                        width="500px"
                    >
                      
                        <p class="text-center  
                        text-sm-h4
                        text-md-h4
                        text-lg-h4
                        text-xl-h4"
                        >
                          Форма входу
                        </p>
                        
                       
                      <v-divider></v-divider>

                      <ValidationObserver v-slot="{handleSubmit}">
                          <v-form @submit.prevent="handleSubmit(submit)">
                            <v-row class="d-flex flex-column">

                              <v-col>
                                <ValidationProvider rules="required" v-slot="{ errors }">
                                  <v-text-field
                                    label="Ім'я користувача" 
                                    v-model="user.username"
                                    type="text"
                                    
                                    name="username" hide-details="auto">
                                  </v-text-field>
                                  <span>{{ errors[0] }}</span>
                                  <v-alert class="ma-3" type="error" v-if="errors[0]">
                                    {{ errors[0] }}
                                  </v-alert>
                                </ValidationProvider>

                              </v-col>

                              <v-col >
                                <ValidationProvider rules="required" v-slot="{ errors }">
                                  <v-text-field 
                                      label="Пароль" 
                                      v-model="user.password"
                                      type="password"
                                      
                                      name="password"
                                      hide-details="auto">
                                  </v-text-field>
                                  <v-alert class="ma-3" type="error" v-if="errors[0]">
                                    {{ errors[0] }}
                                  </v-alert>
                                </ValidationProvider>

                              </v-col>
                              
                              <v-col>
                                <v-row class="ma-3">
                                  <v-spacer></v-spacer>
                                <v-btn type="submit" color="success" :disabled="loading">
                                    <!-- <span v-show="loading" class="spinner-border spinner-border-sm"></span> -->
                                    <span>Вхід</span>
                                </v-btn>
                                </v-row>
                                
                                <v-alert class="ma-3" type="error" v-if="message">
                                    {{message.message}}
                                  </v-alert>
                              </v-col>

                            </v-row>
                          </v-form>
                      </ValidationObserver>
                        
                    </v-card>
                  </v-row>
              
  </v-container>
</template>

<script>
import User from '../../models/user';

import { extend } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';

extend('required', {
  ...required,
  message: 'Поле має бути заповнене'
});

export default {
  name: 'Login',
  data() {
    return {
      user: new User('', ''),
      loading: false,
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  methods: {
    submit () {
        if (this.user.username && this.user.password) {
          this.$store.dispatch('auth/login', this.user).then(
            () => {
              this.$router.push('/profile');
            },
            error => {
              this.message =
                (error.response && error.response.data) ||
                error.message ||
                error.toString();
            }
          );
        }
    },
    
  }
};
</script>
