<template>
  <v-container fill-height fluid class="grey lighten-2">
    
                <v-row
                    align="center"
                    justify="center"
                    style="height: 100%;"
                    cols="12"
                    width="500px"
                    >
                    <v-card
                        class="ma-6 pa-6"
                        outlined
                        tile  
                        cols="12"
                        width="500px"
                    >
      <form name="form" @submit.prevent="handleRegister">
        <div v-if="!successful">
          <div class="form-group">
            <v-text-field 
                label="Username" 
                v-model="user.username"
              v-validate="'required|min:3|max:20'"
              type="text"
              class="form-control"
              name="username"
                hide-details="auto">
            </v-text-field>  
            <div
              v-if="submitted && errors.has('username')"
              class="alert-danger"
            >{{errors.first('username')}}</div>
          </div>
          <div class="form-group">
            <v-text-field 
                label="Email" 
                v-model="user.email"
              v-validate="'required|email|max:50'"
              type="email"
              class="form-control"
              name="email"
                hide-details="auto">
            </v-text-field>            
            <div
              v-if="submitted && errors.has('email')"
              class="alert-danger"
            >{{errors.first('email')}}</div>
          </div>
          <div class="form-group">
            <v-text-field 
                label="Password" 
                v-model="user.password"
              v-validate="'required|min:6|max:40'"
              type="password"
              class="form-control"
              name="password"
                hide-details="auto">
            </v-text-field>   
            
            <div
              v-if="submitted && errors.has('password')"
              class="alert-danger"
            >{{errors.first('password')}}</div>
          </div>
          <div class="form-group">
            <!-- <button class="btn btn-primary btn-block">Sign Up</button> -->
            <v-btn
              type="submit"
              color="success"
              > 
                <span>Sign Up</span>
            </v-btn>
          </div>
        </div>
      </form>

      

      <v-alert class="ma-3" type="error" v-if="message">
        {{message}}
      </v-alert>
    </v-card>
                  </v-row>
              
  </v-container>
</template>

<script>
import User from '../../models/user';

export default {
  name: 'Register',
  data() {
    return {
      user: new User('', '', ''),
      submitted: false,
      successful: false,
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  methods: {
    handleRegister() {
      this.message = '';
      this.submitted = true;
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch('auth/register', this.user).then(
            data => {
              this.message = data.message;
              this.successful = true;
            },
            error => {
              this.message =
                (error.response && error.response.data)||error.message||error.toString();
                console.log(this.message);
              this.successful = false;
              
            }
          );
        }
      });
    }
  }
};
</script>

